html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;

}

.navbar-static-bottom {
    position:absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

.rounded {
	border-radius: 50%;
}

.full {
	width: 100%;
}
